{% block satispay_payment_actions_modal_refund %}

    <sw-modal
        variant="small"
        :title="$tc(`satispay-payments.paymentDetails.modal.refund.title`)"
        @modal-close="$emit('modal-close')">
        <sw-number-field
            v-model:value="refundAmount"
            :max="refundableAmount"
            :min="0"
            :label="$tc('satispay-payments.paymentDetails.modal.refund.amount.label')"
            :helpText="$tc('satispay-payments.paymentDetails.modal.refund.amount.helpText')">
            <template #suffix>
                {{ paymentResource.currency }}
            </template>
        </sw-number-field>
        <span style="font-size: 10px;">
            {{ $tc('satispay-payments.paymentDetails.modal.refund.amount.helpTextEmpty') }}
            <br />
            {{ $tc('satispay-payments.paymentDetails.modal.refund.amount.helpTextDecimals') }}
        </span>
        <template #modal-footer>
            <mt-button variant="primary"
                       @click="refund">
                {{ $tc('satispay-payments.paymentDetails.modal.refund.confirmButton') }}
            </mt-button>
        </template>

    </sw-modal>
{% endblock %}
