<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Token</title>
        <title lang="de-DE">Token</title>

        <input-field>
            <name>liveActivationCode</name>
            <label>Activation code</label>
            <helpText>Insert the six characters activation code from Online Shop section on Satispay Dashboard. Save configuration to enable the 'Activate' button.</helpText>
        </input-field>
        <input-field>
            <name>sandboxActivationCode</name>
            <label>Activation code (sandbox)</label>
            <helpText>Insert the six characters sandbox activation code from Online Shop section on Satispay Dashboard. Save configuration to enable the 'Activate' button.</helpText>
        </input-field>
        <component name="satispay-config-restriction-saleschannel">
            <name>configRestrictionSalesChannel</name>
        </component>
    </card>
    <card>
        <title>Modes</title>
        <title lang="de-DE">Sandbox</title>
        <input-field type="bool">
            <name>sandBox</name>
            <label>Sandbox</label>
        </input-field>
    </card>
</config>
